:root {
    --green: #28a745;
    --darck: #333;
    --white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*utilities*/
/* Text colors */

.text-primary {
    color: var(--green);
}

/* Buttons */

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: var(--white);
    background-color: var(--green);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.bg-dark {
    background: var(--darck);
    color: var(--white);
}

.bg-ligth {
    background: var(--white);
    color: var(--darck);
}

/* Flex items */

.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex-items>div {
    padding: 20px;
}

/* Section header */

.section-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {
    font-size: 40px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 40px;
}

/* Flex grid */

.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 20%;
    max-width: 25%;
    padding: 0 4px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: var(--white);
    color: var(--darck);
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: var(--darck);
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darck);
    color: var(--white);
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
}

.navbar.top {
    background: transparent;
}

.navbar .logo {
    font-size: 16px;
    color: var(--white);
}

.navbar a {
    color: var(--white);
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: var(--green) 2px solid;
}

.navbar ul {
    display: flex;
}

/* Header */

.toll-truck-hero {
    background: url(../images/8.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: var(--white);
}

.toll-truck-hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 20px;
    margin-top: 5px;
}

.toll-truck-hero h1 {
    font-size: 45px;
}

.toll-truck-hero p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}

.toll-truck-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.toll-truck-hero * {
    z-index: 10;
}

/* Icons */

.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

.icons i {
    background-color: var(--green);
    color: var(--white);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* catalog images */

.cases img:hover {
    opacity: 0.7;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer a {
    color: var(--white);
    ;
}

.footer a:hover {
    color: var(--green);
}

.footer .social>* {
    margin-right: 20px;
}

.contacts {
    font-weight: bold;
    font-size: 25px;
}

/*Phone icon*/

.mobile-phone i {
    background-color: var(--green);
    color: var(--white);
    padding: 1.5rem;
    border-radius: 50%;
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    margin: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.mobile-phone {
    animation: flash 1s linear infinite;
    animation-delay: 2s;
}

.phone-link {
    font-size: 20px;
    color: red;
}

@keyframes flash {
    0% {
        visibility: visible;
        opacity: 1;
    }

    50% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* Mobile */

@media (max-width: 768px) {

    .toll-truck-hero .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }

    .toll-truck-hero .navbar a {
        padding: 5px 10px;
        margin: 0 10px;
    }

    .flex-items {
        flex-direction: column;
    }

    .cases .column,
    .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }

    .toll-truck-hero h1 {
        font-size: 38px;
    }

    .toll-truck-hero p {
        font-size: 18px;
        max-width: 500px;
        margin: 20px 0 30px;
    }

    .social {
        display: flex;
        flex-direction: row;
    }

    .social>a {
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .toll-truck-hero .navbar {
        flex-direction: column;
        height: 80px;
        padding: 10px;
    }

    .toll-truck-hero .navbar a {
        padding: 5px 5px;
        margin: 0 10px;
    }

    .flex-items {
        flex-direction: column;
    }

    .cases .column,
    .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }

    .toll-truck-hero h1 {
        font-size: 35px;
    }

    .toll-truck-hero p {
        font-size: 15px;
        max-width: 500px;
        margin: 20px 0 30px;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .social {
        margin-bottom: 10px;
    }
}


